<?xml version="1.0" encoding="UTF-8"?>
<!-- Build with: candle.exe -dBinDir=... forgum.wxs && light.exe -out forgum.msi forgum.wixobj  (or `cargo wix`). WiX Toolset must be installed in the windows runner. -->
<!-- NOTE: generate a real GUID for UpgradeCode (placeholder PUT-GUID-HERE below). -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Forgum" Language="1033" Version="0.4.0" Manufacturer="HKDevLoops" UpgradeCode="AE18D640-560C-4B78-9E7F-557CF387312F">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Forgum is already installed." />
    <MediaTemplate />
    <Feature Id="ProductFeature" Title="Forgum" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Forgum">
          <Component Id="MainExecutable" Guid="*">
            <File Id="forgumEngineExe" Source="$(var.BinDir)\forgum-engine.exe" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Forgum">
          <Component Id="StartMenuShortcut" Guid="*">
            <Shortcut Id="StartMenuForgum" Name="Forgum" Target="[#forgumEngineExe]" WorkingDirectory="INSTALLFOLDER" />
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\HKDevLoops\Forgum" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="StartMenuShortcut" />
    </ComponentGroup>
  </Product>
</Wix>
