Package: forgum
Version: 0.0.1-alpha.1
Architecture: amd64
Maintainer: HKDevLoops
Homepage: https://github.com/HKDevLoops/Forgum
Description: Cross-platform cowsay+fortune+lolcat with a Rust ANSI animation engine
Depends: libc6
Section: utils
Priority: optional
